@plugin "daisyui/theme" {
  name: "mint-choco";
  default: false;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #f1faee;
  --color-base-200: #e0f2e3;
  --color-base-300: #cce9d8;
  --color-base-content: #1d3557;

  --color-primary: #6d4c41;
  --color-primary-content: #ffffff;

  --color-secondary: #a8dadc;
  --color-secondary-content: #143642;

  --color-accent: #457b9d;
  --color-accent-content: #ffffff;

  --color-neutral: #8d8980;
  --color-neutral-content: #ffffff;

  --color-info: #219ebc;
  --color-info-content: #ffffff;

  --color-success: #60a561;
  --color-success-content: #ffffff;

  --color-warning: #ffb703;
  --color-warning-content: #332500;

  --color-error: #e63946;
  --color-error-content: #ffffff;
  /* Color Degradation */
  --color-primary-50: color-mix(in srgb, var(--color-primary) 10%, white);
  --color-primary-100: color-mix(in srgb, var(--color-primary) 30%, white);
  --color-primary-200: color-mix(in srgb, var(--color-primary) 50%, white);
  --color-primary-300: color-mix(in srgb, var(--color-primary) 70%, white);
  --color-primary-400: color-mix(in srgb, var(--color-primary) 90%, white);
  --color-primary-500: var(--color-primary);
  --color-primary-600: color-mix(in srgb, var(--color-primary) 90%, black);
  --color-primary-700: color-mix(in srgb, var(--color-primary) 80%, black);
  --color-primary-800: color-mix(in srgb, var(--color-primary) 70%, black);
  --color-primary-900: color-mix(in srgb, var(--color-primary) 60%, black);
  --color-primary-950: color-mix(in srgb, var(--color-primary) 50%, black);

  --color-secondary-50: color-mix(in srgb, var(--color-secondary) 10%, white);
  --color-secondary-100: color-mix(in srgb, var(--color-secondary) 30%, white);
  --color-secondary-200: color-mix(in srgb, var(--color-secondary) 50%, white);
  --color-secondary-300: color-mix(in srgb, var(--color-secondary) 70%, white);
  --color-secondary-400: color-mix(in srgb, var(--color-secondary) 90%, white);
  --color-secondary-500: var(--color-secondary);
  --color-secondary-600: color-mix(in srgb, var(--color-secondary) 90%, black);
  --color-secondary-700: color-mix(in srgb, var(--color-secondary) 80%, black);
  --color-secondary-800: color-mix(in srgb, var(--color-secondary) 70%, black);
  --color-secondary-900: color-mix(in srgb, var(--color-secondary) 60%, black);
  --color-secondary-950: color-mix(in srgb, var(--color-secondary) 50%, black);

  --color-accent-50: color-mix(in srgb, var(--color-accent) 10%, white);
  --color-accent-100: color-mix(in srgb, var(--color-accent) 30%, white);
  --color-accent-200: color-mix(in srgb, var(--color-accent) 50%, white);
  --color-accent-300: color-mix(in srgb, var(--color-accent) 70%, white);
  --color-accent-400: color-mix(in srgb, var(--color-accent) 90%, white);
  --color-accent-500: var(--color-accent);
  --color-accent-600: color-mix(in srgb, var(--color-accent) 90%, black);
  --color-accent-700: color-mix(in srgb, var(--color-accent) 80%, black);
  --color-accent-800: color-mix(in srgb, var(--color-accent) 70%, black);
  --color-accent-900: color-mix(in srgb, var(--color-accent) 60%, black);
  --color-accent-950: color-mix(in srgb, var(--color-accent) 50%, black);

  --color-neutral-50: color-mix(in srgb, var(--color-neutral) 10%, white);
  --color-neutral-100: color-mix(in srgb, var(--color-neutral) 30%, white);
  --color-neutral-200: color-mix(in srgb, var(--color-neutral) 50%, white);
  --color-neutral-300: color-mix(in srgb, var(--color-neutral) 70%, white);
  --color-neutral-400: color-mix(in srgb, var(--color-neutral) 90%, white);
  --color-neutral-500: var(--color-neutral);
  --color-neutral-600: color-mix(in srgb, var(--color-neutral) 90%, black);
  --color-neutral-700: color-mix(in srgb, var(--color-neutral) 80%, black);
  --color-neutral-800: color-mix(in srgb, var(--color-neutral) 70%, black);
  --color-neutral-900: color-mix(in srgb, var(--color-neutral) 60%, black);
  --color-neutral-950: color-mix(in srgb, var(--color-neutral) 50%, black);
}